<div class="field" id="option-<%= @index %>">
  <label class="label">Option <%= @index %>:</label>
  <div class="control">
    <%= text_input @form, String.to_atom("option#{@index}"), value: @option, class: "input" %>
  </div>
  <p class="help is-danger" onclick="window.remove_option('<%= @index %>')">
    <a class="button is-small is-danger is-outlined">
      <span class="icon">
        <i class="fas fa-times"></i>
      </span>
      <span>
        Delete
      </span>
    </a>
  </p>
</div>