<h1>All Questions</h1>

<%= for question <- @questions do %>

<h4><%= question.text %></h4>
<ul>
  <%= for option <- question.options do %>
    <li><button><%= option %></button></li>
  <% end %>
</ul>
<% end %>