<section class="hero is-bold is-primary">
  <div class="hero-body">
    <h1 class="title">Verification email sent</h1>
    <h2 class="subtitle">Please click the link to log in.</h2>
  </div>
</section>