@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "../node_modules/bulma/sass/utilities/functions";
@import "variables";

// Do custom bulma overrides here
// Map of derived values
// $primary: $turquoise
// $link: $blue
// $info: $cyan
// $success: $green
// $warning: $yellow
// $danger: $red
// $dark: $grey-darker
// $text: $grey-dark

// Colors
$orange:       hsl(14,  100%, 53%);
$yellow:       hsl(63.5, 61.4%, 43.7%);
$green:        hsl(123.5, 61.4%, 43.7%);
$turquoise:    hsl(183.5, 61.4%, 43.7%);
$cyan:         hsl(204, 86%,  53%);
$blue:         hsl(213.3, 61.4%, 43.7%);
$purple:       hsl(273.7, 61.4%, 43.7%);
$red:          hsl(3.5, 61.4%, 43.7%);

@import "../node_modules/bulma/bulma";
@import "../node_modules/bulma-extensions/bulma-steps/src/sass/index.sass";
@import "../node_modules/bulma-extensions/bulma-divider/src/sass/index.sass";