<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Propollr!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/bulma.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/font-awesome.css") %>">
  </head>

  <body>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <%= link to: page_path(@conn, :index), class: "navbar-item" do %>
        <i class="fas fa-chevron-right"></i>ProPollr
      <% end %>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu">
      <div class="navbar-end">
        <%= link "Home", to: page_path(@conn, :index), class: active_class(@conn, page_path(@conn, :index), "navbar-item") %>
        <%= if !Plug.Conn.get_session(@conn, :user_id) do %>
          <%= link "Create Session", to: session_path(@conn, :new_soft), class: active_class(@conn, session_path(@conn, :new_soft), "navbar-item") %>
        <% end %>
        <%= if Plug.Conn.get_session(@conn, :user) do %>
          <%= link "Dashboard", to: dashboard_path(@conn, :index), class: active_class(@conn, dashboard_path(@conn, :index), "navbar-item") %>
        <% end %>
      </div>
    </div>
  </nav>
  <section class="section">
    <div class="container">
      <%= if get_flash(@conn, :info) do %>
        <div class="notification  is-info alert alert-info" role="alert">
          <button class="delete" onclick="document.querySelector('.alert-info').style.display = 'none'"></button>
          <%= get_flash(@conn, :info) %>
        </div>
      <% end %>      
      <%= if get_flash(@conn, :error) do %>
        <div class="notification is-error alert alert-danger" role="alert">
          <button class="delete" onclick="document.querySelector('.alert-danger').style.display = 'none'"></button>
          <%= get_flash(@conn, :error) %>
        </div>
      <% end %>
      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
  </section>
    <script>window.session_id = "<%= Plug.Conn.get_session(@conn, :session_id) %>";</script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
