<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Propollr - A dead simple realtime polling application</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/bulma.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/font-awesome.css") %>">

    <%# Touch icons %>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="ProPollr">
    <meta name="application-name" content="ProPollr">
    <meta name="msapplication-TileColor" content="#2bacb4">
    <meta name="theme-color" content="#2bacb4">
  </head>

  <body class="has-navbar-fixed-top">
    <%= render "navbar.html", conn: @conn %>

    <main role="main">
      <%= render @view_module, @view_template, assigns %>
    </main>

    <%= render "footer.html", conn: @conn %>
    
    <%= render "feedback_modal.html", conn: @conn %>
    
    <script>window.sesh_id = "<%= Plug.Conn.get_session(@conn, :sesh_id) %>";</script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-90321609-9"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-90321609-9');
    </script>
  </body>
</html>
